html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



html, body {
    margin: 0; 
    height: 100%;
}

body {
    background: #9fa7e4;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.wrapper {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.wrapper2 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 250px;
}

.wrapper3 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 10px;
}

.button {
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #fff;
}
.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-1em);
  opacity: 0;
}
.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}
.button:hover {
  opacity: 1;
}
.button:hover .button__text {
  animation: fx-text 0.3s ease-out;
}
.button:hover .button__text--bis {
  animation: fx-text-bis 0.3s ease-out;
}
.button:hover .button__mask {
  animation: fx-mask 0.3s ease-out;
}
.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}
@keyframes fx-mask {
  0% {
      transform: translateX(-100%) rotate(45deg);
  }
  100% {
      transform: translateX(100%) rotate(45deg);
  }
}
@keyframes fx-text {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(1em);
      opacity: 0;
  }
}
@keyframes fx-text-bis {
  0% {
      transform: translateX(-1em);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}



html {
  font-size: 18px;
}
body {
  color:black;
  font-family: "Questrial", sans-serif;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/858199012003282954/870954154145767434/unknown.png");
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.message {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}
.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
