{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <br><br><br><br><br>

    <br><br><div class="wrapper2">
        <div class="button" onclick="document.querySelector('#topleft').hidden=false;">
          <span class="button__mask"></span>
          <span class="button__text">Connect with Someone</span>
          <span class="button__text button__text--bis">Connect with Someone</span>
        </div>
    </div>
    <br><br>
    <div class="wrapper3">
        <div class="button" onclick="location.href='/entryform'">
          <span class="button__mask"></span>
          <span class="button__text">ㅤStartㅤ</span>
          <span class="button__text button__text--bis">ㅤStartㅤ</span>
        </div>
    </div>

    <div class="modal" id = "topleft" hidden>
        Connect with someone when you are bored
        <div class="options">
        Heres a number you can call: +6580000000
        </div>
        <br><br><br>
        <button onclick="document.querySelector('#topleft').hidden=true"><i>Hide popup</i></button>
    </div>
{% endblock %}